<div id="content-primary">
  <%= render :partial => 'messages/form' %>
  <table class="messages messages-index" cellspacing="0">
    <% @messages.each do |message| %>
      <tr class="message">
        <td class="message-user">
          <a href="<%= profile_path(message.user.login) %>">
            <%= gravatar_for message.user, :size => 48, :class => 'gravatar' %>
          </a>
        </td>
        <td class="message-body"><div>
          <a href="<%= profile_path(message.user.login) %>"><b><%= message.user %></b> hates...</a> 
          <%= auto_link(message.body) {|m| truncate(m)} %>
          <span class="detail"><%= link_to time_ago_in_words(message.created_at) + ' ago', message %></span>
        </div></td>
      </tr>
    <% end %>
  </table>
  <div class="paginate">
    <%= will_paginate @messages, :previous_label => '&laquo; Newer', :next_label => 'Older &raquo;', :page_links => false %>
  </div>
</div>

<div id="content-secondary">
  <% if logged_in? %>
    <%= render :partial => 'shared/side_logged_in' %>
  <% else %>
    <%= render :partial => 'shared/side_logged_out' %>
  <% end %>
  <div id="secondary-section"><br /><span class="left">Most hateful</span><div class="clear"> </div></div>
  <%= render :partial => 'shared/users' %>
</div>

<div class="clear"> </div>
