<div id="content-primary">
  <%= render :partial => 'messages/form' %>
  <table class="messages messages-index">
    <% @messages.each do |message| %>
      <tr class="message">
        <%= render :partial => 'messages/message_user', :locals => {:message => message} %>
        <%= render :partial => 'messages/message_body', :locals => {:message => message} %>
      </tr>
    <% end %>
  </table>
</div>

<div id="content-secondary">
  <div id="secondary-section">
    <span class="left">Hi,</span>
    <span class="right"><%= link_to 'your profile', profile_path(current_user.to_s) %></span>
    <div class="clear"> </div>
  </div>
  <span id="profile-gravatar">
    <a href="<%= profile_path(current_user.login) %>">
      <%= gravatar_for current_user, :size => 30, :class => 'gravatar' %>
    </a>
  </span>
  <span id="profile-login"><%= current_user %></span>
  <div id="secondary-section"><br /><span class="left">Haters</span><div class="clear"> </div></div>
  <%= render :partial => 'shared/users' %>
</div>

<div class="clear"> </div>
