<div id="content-primary">
  <table class="messages messages-index" cellspacing="0">
    <tr class="message message-show">
      <td class="message-user">
        <a href="<%= profile_path(@message.user.login) %>">
          <%= gravatar_for @message.user, :size => 48, :class => 'gravatar' %>
        </a>
      </td>
      <td class="message-body"><div>
        <a href="<%= profile_path(@message.user.login) %>"><b><%= @message.user %></b> hates...</a> 
        <%= auto_link(@message.body) {|m| truncate(m)} %>
        <span class="detail"><%= link_to time_ago_in_words(@message.created_at) + ' ago', @message %></span>
      </div></td>
    </tr>
  </table>
</div>
<div class="clear"> </div>