<% form_tag session_path do -%>
  <div id="login-form">
    <div id="login-inputs">
      <%= label_tag 'username' %><br />
      <%= text_field_tag 'login', @login, :maxlength => 15 %><br />
      <%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil %><br />
    </div>
    <div id="login-checkbox">
      <%= check_box_tag 'remember_me', '1', @remember_me %>
      <%= label_tag 'remember_me', 'Remember me' %>
    </div>
    <div id="login-submit">
      <%= submit_tag 'Sign In &raquo;' %>
    </div>
  </div>
<% end -%>