<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="generator" content="http://almosteffortless.com/h8ttr/" />
  <title><%=t :title %>: <%=t :tagline %></title>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div id="header">
    <h1><%= link_to t(:title), root_path %></h1>
  </div>
  <%= content_tag 'div', h(flash[:notice]), :id => 'notice' if flash[:notice] %>
  <%= content_tag 'div', h(flash[:error]), :id => 'error' if flash[:error] %>
  <div id="wrapper">
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <%= link_to '&aelig;', 'http://almosteffortless.com' %>
    </div>
  </div>
</body>
</html>
